<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="fr.centralesupelec.edf.riseclipse.developer.eclipse" sequenceNumber="1679495107">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
      <unit id="com.google.inject" version="5.0.1.v20221112-0806"/>
      <unit id="javax.inject" version="1.0.0.v20220405-0441"/>
      <unit id="org.antlr.runtime" version="3.2.0.v20220404-1927"/>
      <unit id="org.aopalliance" version="1.0.0.v20220404-1927"/>
      <unit id="org.apache.log4j" version="1.2.24.v20221221-2012"/>
      <unit id="org.eclipse.core.contenttype" version="3.8.200.v20220817-1539"/>
      <unit id="org.eclipse.core.commands" version="3.10.400.v20230220-0932"/>
      <unit id="org.eclipse.core.expressions" version="3.8.200.v20220613-1047"/>
      <unit id="org.eclipse.core.filesystem" version="1.9.500.v20220817-1539"/>
      <unit id="org.eclipse.core.jobs" version="3.13.300.v20230111-0823"/>
      <unit id="org.eclipse.core.runtime" version="3.26.100.v20221021-0005"/>
      <unit id="org.eclipse.core.resources" version="3.18.200.v20230209-0754"/>
      <unit id="org.eclipse.core.variables" version="3.5.100.v20210721-1355"/>
      <unit id="org.eclipse.debug.core" version="3.20.100.v20230124-1239"/>
      <unit id="org.eclipse.emf.codegen" version="2.23.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.codegen.ecore" version="2.33.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.common" version="2.28.0.v20230223-0922"/>
      <unit id="org.eclipse.emf.ecore" version="2.33.0.v20230226-0921"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="2.18.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.edit" version="2.18.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.mapping.ecore2xml" version="2.12.0.v20230211-1150"/>
      <unit id="org.eclipse.equinox.app" version="1.6.200.v20220720-2012"/>
      <unit id="org.eclipse.equinox.common" version="3.17.100.v20230202-1341"/>
      <unit id="org.eclipse.equinox.preferences" version="3.10.200.v20230120-0604"/>
      <unit id="org.eclipse.equinox.registry" version="3.11.200.v20220817-1601"/>
      <unit id="org.eclipse.jdt.annotation" version="2.2.700.v20220826-1026"/>
      <unit id="org.eclipse.jdt.core" version="3.33.0.v20230222-1748"/>
      <unit id="org.eclipse.jdt.debug" version="3.20.100.v20230119-1127"/>
      <unit id="org.eclipse.jdt.launching" version="3.19.900.v20230209-1222"/>
      <unit id="org.eclipse.jface" version="3.29.0.v20230214-1401"/>
      <unit id="org.eclipse.ocl.common" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.examples.xtext.serializer" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.pivot" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.pivot.uml" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.xtext.base" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.xtext.completeocl" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.xtext.essentialocl" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.xtext.oclinecore" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.ocl.xtext.oclstdlib" version="1.18.0.v20221201-0557"/>
      <unit id="org.eclipse.osgi" version="3.18.300.v20230220-1352"/>
      <unit id="org.eclipse.osgi.compatibility.state" version="1.2.800.v20221116-1440"/>
      <unit id="org.eclipse.swt" version="3.123.0.v20230220-1431"/>
      <unit id="org.eclipse.text" version="3.12.300.v20220921-1010"/>
      <unit id="org.eclipse.uml2.codegen.ecore" version="2.5.2.v20221116-1811"/>
      <unit id="org.eclipse.uml2.common" version="2.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml" version="5.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml.profile.standard" version="1.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml.resources" version="5.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.types" version="2.5.0.v20221116-1811"/>
      <unit id="org.eclipse.xtend.lib" version="2.30.0.v20230227-1111"/>
      <unit id="org.eclipse.xtend.lib.macro" version="2.30.0.v20230227-1111"/>
      <unit id="org.eclipse.xtext" version="2.30.0.v20230227-1116"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.30.0.v20230227-1111"/>
      <unit id="org.eclipse.xtext.util" version="2.30.0.v20230227-1116"/>
      <repository location="http://download.eclipse.org/releases/2023-03"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.cli" version="1.4.0.v20221112-0806"/>
      <unit id="org.apache.commons.lang3" version="3.12.0.v20221221-1931"/>
      <repository id="orbit-2023-03" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
